url: "https://sarkershantonu.github.io"
baseurl: ""
title: A Test Developer's Blog
description: Learn Coding, Testing, DevOps & Automate.
# avatar: "/img/picture.jpg"

navbar-links:   
  Performance:
    - Performance Test: "pages/performance"
    - Java-perf: "tag/java-performance"
    - DotNet-perf: "tag/dotnet-performance"
    - JMeter: "pages/jmeter"
  SDET:
    - Testing Basics: "tag/testing"
    - Selenium: "tag/selenium"
    - Codeception: "tag/codeception"
    - TestNG: "tag/testng"
    - Robotium: "tag/robotium"
  DEV:
    - Coding: "pages/programming"
    - Design Patterns: "pages/dp"
    - All DotNet: "pages/dotnet"
    - All Java : "pages/java"
  DevOps:
    - Dev setup: "tag/dev-env"
    - Tools: "tag/tools"
    - Docker: "tag/docker"
    - Linux Admin: "pages/linux"
  All:
    - 2009 : "pages/2009"
    - 2012 : "pages/2012"
    - 2013 : "pages/2013"
    - 2014 : "pages/2014"
    - 2015 : "pages/2015"
    - 2016 : "pages/2016"
    - 2017 : "pages/2017"
    - 2018 : "pages/2018"
    - 2019 : "pages/2019"
    - 2020 : "pages/2020"
    - 2021 : "pages/2021"
    - Book Reviews : "tag/reviews"
  About:
    - Me: "aboutme"
    - Skills : "cv/details/index.html"
    - Talks: "pages/talks"
    - Devices : "pages/gadgets"
    - Projects : "pages/all-projects"
    - Upwork: "https://www.upwork.com/freelancers/~01497d9402c6e641ad"
    - Contact: "pages/contact"
    - Training: "pages/courses"
    - cv/resume: "pages/resume"
    - Github: https://github.com/sarkershantonu
    - Linkedin : https://www.linkedin.com/in/shantonusarker/
nav-search: search

# Search
search_enabled: true
search:
  heading_level: 2
  previews: 3
  preview_words_before: 5
  preview_words_after: 10
  tokenizer_separator: /[\s/]+/
  rel_url: true
  button: false

# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter
# title-img: /img/path.jpg

# -  Background colour/image options --- #

# By default, the navigation bar and footer have a light gray background, and the main page
# has a white background. You can specify a different background colour or a background image
# for the navigation bar, the main page, and the footer.
# navbar-col: "orange"
# navbar-img: "/img/bgimage.png"
# footer-col: "blue"
# footer-img: "/img/bgimage.png"
# page-col: "#FF0000"
# page-img: "/img/bgimage.png"

# --- Footer options --- #

# Important: you must keep the "name".
author:
  name: Shantonu Sarker
  email: "sarker.shantonu@gmail.com"
  github: sarkershantonu
  twitter: sarkershantonu
  linkedin: "/in/shantonusarker/"
  xing: Shantonu_Sarker
  stackoverflow: "users/1564801/shantonu"
  skype: "https://join.skype.com/invite/DZPDtwFMtUMJ"

# Select which links to show in the footer
footer-links-active:
  rss: false
  facebook: false
  email: true
  twitter: true
  github: true
  linkedin: true
  xing: true
  stackoverflow: true
  skype : true


# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: true
  google: false
  linkedin: true


url-pretty: "shantonusarker.github.io"  
disqus: "shantonusarker"
google_analytics: "UA-9027601-2"

# Google Tag Manager ID
#gtm: ""

# Facebook App ID
# fb_app_id: ""

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Color scheme
color_scheme: ddse

# Build settings
timezone: "Asia/Dhaka"
markdown: kramdown
highlighter: rouge
permalink: /blog/:title/
paginate: 40
paginate_path: "/page:num/"
#remote_theme: just-the-docs/just-the-docs

kramdown:
  input: GFM

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts     
      show-share: true # add sharing buttons to all blog posts		
      show-subscribe: false # add subscribe email to all blog posts
      addthis-plugin: true
      carbonads: true
      datacampcourse: false
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags pages (not recommended if you are deploying via GitHub pages, only set to true if deploying locally with ruby)
link-tags: true

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "image"
        field:
          element: "text"
          label: "Image"
          help: "Add a thumbnail image to your post."
          placeholder: "Thumbnail"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-mentions
  - jekyll-github-metadata
  - jekyll-youtube
  - jekyll-feed
