<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">
    <ul class="tl">

        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Feb 21-Dec 21
                <br> Freelance/Remote
            </div>
            <a href="https://www.writeway.com/">
                <div class="item-title">Living Sky Technologies | writeway.com</div>
            </a>
            <div class="item-detail">Test Automation Architect <br> Rajshahi, Bangladesh</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Mar 2015-Oct 21
                <br> Freelance/Remote
            </div>
            <a href="https://www.instappraisal.com/">
                <div class="item-title">Ensured.io | Instappraisal.com</div>
            </a>
            <div class="item-detail">Performance Engineering Lead<br> Rajshahi, Bangladesh</div>
        </li>

        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                July 13-Sep 14
                <br> Freelance/Remote
            </div>
            <a href="https://www.upwork.com/freelancers/~01497d9402c6e641ad">
                <div class="item-title">Upwork</div>
            </a>
            <div class="item-detail">SDET/Java Developer <br> Dhaka, Bangladesh</div>
        </li>

        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Oct 05 - Dec 07
                <br> Part Time
            </div>
            <a href="https://ois.edu.bd/">
                <div class="item-title">Oxford International School</div>
            </a>
            <div class="item-detail">Computer Teacher <br> Dhaka, Bangladesh</div>
        </li>
    </ul>

</div>

</body>
</html>