<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">
    <ul class="tl">

        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Feb 22-current
                <br> Full Time
            </div>
            <a href="https://www.epam.com/">
                <div class="item-title">EPAM USA</div>
            </a>
            <div class="item-detail">Lead Software Test Automation Engineer<br> Missouri, USA</div>
        </li>

        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Oct 16- Aug 19
                <br> Full Time
            </div>
            <a href="https://www.luxoft.com/">
                <div class="item-title">Luxoft USA | DXC</div>
            </a>
            <div class="item-detail">Sr. SQA/SDET Lead<br> New Jersey, USA</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Oct 14-Oct 16
                <br> Full Time
            </div>
            <a href="https://www.luxoft.com/">
                <div class="item-title">Luxoft Poland| DXC</div>
            </a>
            <div class="item-detail">Sr. SQA/Performance Engineering Lead <br> Krakow, Poland</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Jun 12-July 13
                <br> Full Time
            </div>
            <a href="https://www.relisource.bd">
                <div class="item-title">Relisource Technologies Ltd</div>
            </a>
            <div class="item-detail">Sr. SQA Engineer(Automation)<br> Dhaka, Bangladesh</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Feb 12-Jun 12
                <br> Full Time
            </div>
            <a href="https://athgo.org/">
                <div class="item-title">Athgo International</div>
            </a>
            <div class="item-detail">SQA Engineer <br> Dhaka, Bangladesh</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                July 09-Feb 12
                <br> Full Time
            </div>
            <a href="https://kaz.com.bd">
                <div class="item-title">KAZ Software Ltd</div>
            </a>
            <div class="item-detail">Associate SQA Engineer<br> Dhaka, Bangladesh</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
                Aug 08 - Mar 09
                <br> Full Time
            </div>
            <a href="https://bjitgroup.com/">
                <div class="item-title">BJIT Ltd</div>
            </a>
            <div class="item-detail"> Asst. Software Engineer <br> Dhaka, Bangladesh</div>
        </li>
    </ul>

</div>

</body>
</html>