<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="cv.css">
</head>
<body>

<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        3rd March 2015<br> 7:00 PM
      </div>
      <div class="item-title">Start from Shire</div>
      <div class="item-detail">Don't forget the ring</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        From Aug 2008 <br> to Mar 2009
      </div>
      <div class="item-title">BJIT Ltd</div>
      <div class="item-detail"> Asst. Software Engineer <br> Dhaka, Bangladesh</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Oct 2005 - Dec 2007
      </div>
      <div class="item-title">Oxford International School</div>
      <div class="item-detail">Computer Teacher <br> Dhaka, Bangladesh</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Oct 2005 -   <br>Dec 2007
      </div>
      <div class="item-title">Athgo Internationa</div>
      <div class="item-detail">Computer Teacher <br> Dhaka, Bangladesh</div>
    </li><li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Oct 2005 - Dec 2007
      </div>
      <a href="http://kaz.com.bd"> 
	  <div class="item-title">KAZ Software Ltd</div></a>
      <div class="item-detail">Computer Teacher <br> Dhaka, Bangladesh</div>
    </li><li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Oct 2005 - Dec 2007
      </div>
      <div class="item-title">Oxford International School</div>
      <div class="item-detail">Computer Teacher <br> Dhaka, Bangladesh</div>
    </li>
  </ul>

</div>

</body>
</html>