<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.css">
</head>
<body>

<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">
  <ul class="tl">
  
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb 2022 -   <br><b/>current
		<br> Full Time
      </div>
	  <a href="https://www.epam.com/">
      <div class="item-title">EPAM USA</div></a>
      <div class="item-detail">Lead Software Test Automation Engineer<br> Missouri, USA</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb 2021 -   <br>Dec 2021
		<br> Freelance/Remote
      </div>
	  <a href="https://www.writeway.com/">
      <div class="item-title">Living Sky Technologies | writeway.com</div></a>
      <div class="item-detail">Test Automation Architect <br> Rajshahi, Bangladesh</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Sep 2019 -   <br>Oct 2021
		<br> Freelance/Remote
      </div>
	  <a href="https://www.instappraisal.com/">
      <div class="item-title">Ensured.io | Instappraisal.com</div></a>
      <div class="item-detail">Performance Engineering Lead<br> Rajshahi, Bangladesh</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Oct 2016 -   <br>Aug 2019
		<br> Full Time
      </div>
	  <a href="https://www.luxoft.com/">
      <div class="item-title">Luxoft USA | DXC</div></a>
      <div class="item-detail">Sr. SQA/SDET Lead<br> New Jersey, USA</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Oct 2014 -   <br>Oct 2016
		<br> Full Time
      </div>
	  <a href="https://www.luxoft.com/">
      <div class="item-title">Luxoft Poland</div></a>
      <div class="item-detail">Sr. SQA/Performance Engineering Lead <br> Krakow, Poland</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        July 2013 -   <br>Sep 2014
		<br> Freelance
      </div>
	  <a href="https://www.upwork.com/freelancers/~01497d9402c6e641ad">
      <div class="item-title">Upwork</div></a>
      <div class="item-detail">SDET/Java Developer <br> Dhaka, Bangladesh</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Jun 2012 - <br>July 2013
		<br> Full Time
      </div>
	  <a href="https://www.relisource.bd"> 
      <div class="item-title">Relisource Technologies Ltd</div></a>
      <div class="item-detail">Sr. SQA Engineer(Automation)<br> Dhaka, Bangladesh</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Feb 2012 -   <br>Jun 2012
		<br> Contractual
      </div>
	  <a href="https://athgo.org/">
      <div class="item-title">Athgo International</div></a>
      <div class="item-detail">SQA Engineer <br> Dhaka, Bangladesh</div>
    </li><li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        July 2009 -   <br>Feb 2012
		<br> Full Time
      </div>
      <a href="https://kaz.com.bd"> 
	  <div class="item-title">KAZ Software Ltd</div></a>
      <div class="item-detail">Associate SQA Engineer<br> Dhaka, Bangladesh</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Aug 2008 -   <br>Mar 2009
		<br> Full Time
      </div>
	   <a href="https://bjitgroup.com/"> 
      <div class="item-title">BJIT Ltd</div></a>
      <div class="item-detail"> Asst. Software Engineer <br> Dhaka, Bangladesh</div>
    </li>
	<li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Oct 2005 -   <br>Dec 2007
		<br> Contractual
      </div>
	  <a href=""https://ois.edu.bd/">
      <div class="item-title">Oxford International School</div><a>
      <div class="item-detail">Computer Teacher <br> Dhaka, Bangladesh</div>
    </li>
  </ul>

</div>

</body>
</html>